header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B2F;
    border: black;
    border-radius: 10px;
    height: 15vh;
    width: 100%;
    margin: 0.5vh;

}
body {
    background-color: black;
}
#gameTitle{
    color: grey;
    font-size: xxx-large;
    font-weight: bold;
    font-family: Tahoma, serif;
}
#gameTable {
    border: black;
    border-radius: 10px;
    margin-right: 0.5vh;
    height: 75vh;
    width: 60%;
}
#gameInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: black;
    border-radius: 10px;
    height: 77vh;
    width: 40%;
}
#gameStage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0.5vh;
}
#gameHiddenColor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #1F4068;
    border-radius: 10px;
    height: 50%;
    margin-bottom: 0.5vh;
    padding: 0.5vh;
}
#gameChooseColor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #1F4068;
    border-radius: 10px;
    height: 49.5%;
    margin-bottom: 0.5vh;
    padding: 0.5vh;
}
#gameInfoTable{
    height: 51%;
    background-color: #1F4068;
    border-radius: 10px;
    width: 100%;

}
#gameWinningstate{
    height: 30%;
    background-color: #1F4068;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}
#gameButton{
    height: 20%;
    background-color: #1F4068;
    border-radius: 10px;
    width: 100%;
}
#red{background-color: #AD1D45;}
#blue{background-color: #7B6CF6;}
#yellow{background-color: #ECBC55;}
.gameToken{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    border-radius: 50%;
    margin-right: 0.5vh;
    background-color: black;

}
.textToken{
    color: black;
    font-size: xxx-large;
    font-weight: bold;
    font-family: Tahoma, serif;
}
.textRandomToken{
    color: grey;
    font-size: xxx-large;
    font-weight: bold;
    font-family: Tahoma, serif;
}
