header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1648c7;
    border: black;
    border-radius: 10px;
    height: 15vh;
    width: 100%;
    margin: 0.5vh;

}
body {
    background-color: black;
}
#gameTitle {
    color: grey;
    font-size: xxx-large;
    font-weight: bold;
    font-family: Tahoma, serif;

}
#gameTable {
    border: black;
    border-radius: 10px;
    margin-right: 0.5vh;
    height: 75vh;
    width: 60%;
}
#gameInfo {
    background-color: #1648c7;
    border: black;
    border-radius: 10px;
    height: 77vh;
    width: 40%;
}
#gameStage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0.5vh;
}
#gameHiddenColor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: grey;
    border-radius: 10px;
    height: 50%;
    margin-bottom: 0.5vh;
    padding: 0.5vh;
}
#gameChooseColor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: grey;
    border-radius: 10px;
    height: 49.5%;
    margin-bottom: 0.5vh;
    padding: 0.5vh;
}
.gameToken{
    height: 100%;
    width: 33%;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 0.5vh;
}
